*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    height: 10vh;
    border-radius: 10px;
    margin: 5px;
}

.green{
    background-color: green;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.pink{
    background-color: pink;
    border-radius: 10px;
    color: white;
    text-align: center;

}

article{
    background-color: yellow;
    border-radius: 10px;
}

footer{
    background-color: blue;
    border-radius: 10px;
    color: white;
    text-align: center;
    height: 10vh;
    margin: 5px;
}

aside{
    flex-grow: 1;
    margin: 5px;
}

article{
    flex-grow: 2;
    text-align: center;
    margin: 5px;
}

.container{
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}


@media  screen and (max-width: 480px){
    .container{
        flex-direction: column;
    }
}

